body {
	background-color:coral;
	
}

#login .container #login-row #login-column .login-box {
	margin-top: 50px;
	max-width: 600px;
	min-height: 380px;
	border: 1px solid #9C9C9C;
	background-color:white;
	border-radius: 1%;
}

	#login .container #login-row #login-column .login-box #login-form {
		padding: 20px;

	}

		#login .container #login-row #login-column .login-box #login-form #register-link {
			margin-top: -105px;
		}


.textEditor {
	min-width : 500px;
	min-height:600px;

}


h1 {
	position: relative;
	text-align: center;
}

	h1 span {
		background: #fff;
		padding: 0 15px;
		position: relative;
		z-index: 1;
	}

	h1:before {
		background: #ddd;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 50%;
		width: 100%;
	}

	h1:before {
		left: 0;
	}