@using POC_Web.Models

@{
	ViewBag.Title = "Index";
}

<script>

	$(function () {

		
		$("#transactionGridContainer").dxDataGrid({
			dataSource: DevExpress.data.AspNet.createStore({
				key: "Xml_Id",
				loadUrl: url + "/pocxml"
			}),
			selection: {
				mode: "single"
			},
			showBorders: true,
			columns: [
				{ dataField: "Xml_TypeId", caption: "XML Type", width: 100 },
				{ dataField: "XmlFile", caption: "XML File" },
			],
			hoverStateEnabled: true,
			dataField: "Xml_Id",
			columnFixing: {
				enabled: true
			},

		});

		var editButton = $("#btnEditXml").dxButton({
			text: "Edit XML",
			height: 34,
			width: 195,
			disabled: false,
			type: "default",
			onClick: function () {
            var dataGrid = $('#transactionGridContainer').dxDataGrid('instance');
			var selectId = dataGrid.getSelectedRowKeys();
            $.ajax({
				url: "@Url.Action("EditXmlFileForm")",
				data: {
					id: selectId[0]
				},
				type:'Get',
				success: function (result) {
					$("#formDiv").html(result);
                }
				 });

			}
		}).dxButton("instance");

		var editwithTextEditor = $("#btnTextEditor").dxButton({
			text: "Text Editor",
			height: 34,
			width: 195,
			disabled: false,
			type: "default",
			onClick: function () {
            var dataGrid = $('#transactionGridContainer').dxDataGrid('instance');
			var selectId = dataGrid.getSelectedRowKeys();
            $.ajax({
				url: "@Url.Action("Texteditor")",
				data: {
					id: selectId[0]
				},
				type:'Get',
				success: function (result) {
					$("#formDiv").html(result);
                }
				 });

			}
		}).dxButton("instance");


	//toastNotification("Successful",'@ToastEnum.Success');

    });
</script>

<div class="container">
	<h2>Add / Edit Xml File</h2>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="form-group">
				<div id="btnEditXml"></div>
				<div id="btnTextEditor"></div>
			</div>

			<div class="transaction-container">
				<div id="transactionGridContainer">
				</div>
			</div>
		</div>

		<div class="panel-body">
			<div id="formDiv">
			</div>
		</div>
	</div>
</div>

